name: test
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    name: ${{ matrix.os }} Ruby ${{ matrix.ruby }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos"]
        ruby: ["3.2", "3.3", "3.4"]
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: r-lib/actions/setup-r@v2
      - if: matrix.os == 'ubuntu'
        run: sudo apt-get update && sudo apt-get install libcurl4-gnutls-dev
      - run: bundle exec rake ext:alglib
      - run: bundle exec rake compile
      - run: bundle exec rake test
